@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string name = ViewData["Name"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome AZ-204 ESI learner: @name</h1>

</div>
